<section class="contact">
    <div class="contact">
        <h2 class="text-center bg-warning p-2 m-0">Contact Us</h2>
        <p class="text-center">Any question or remarks? Just write us a message. We would love to respond to your queries.
        </p>
    </div>
    <div class="container">
        <div class="contactInfo">
            <div class="box">
                <div class="text">
                    <img src="https://img.icons8.com/ios/452/address--v2.png" style="margin-left: -48px;margin-bottom: -44px;" width="35" height="30" />
                    <h3>Address</h3>
                    <p>NBCC Centre, 3rd Floor,Plot No.2, Community Centre, Maa Anandamai Marg, Okhla Phase - I, Landmark - (Near Hotel Crowne Plaza)</p>

                </div>
                <div class="box">
                    <div class="text">
                        <img src="https://img2.pngio.com/phone-icon-phone-icons-png-512_512.png" style="margin-left: -48px;margin-bottom: -44px;" width="35" height="30" />
                        <h3>Phone</h3>
                        <p>564-985-4343</p>

                    </div>
                </div>

            </div>
            <div class="box">
                <div class="text" style="margin-top: -35px;">
                    <img src="http://cdn.onlinewebfonts.com/svg/img_358130.png" style="margin-left: -48px;margin-bottom: -44px;" width="35" height="30" />
                    <h3>E-mail</h3>
                    <p>PharmacyCommunity@gmail.com</p>
                </div>
            </div>

        </div>
        <div class="contactForm" style="margin-top: 35px;">
            <form style="margin-left: 35px;">
                <h4>Send your request</h4>
                <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span>Full Name</span>
                </div>
                <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span>Email</span>
                </div>
                <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span>Your message</span>
                </div>
                <div class="inputBox">
                    <input type="Submit" name="" name="" value="send">

                </div>

            </form>
        </div>
    </div>
</section>